extends layout

block content
  h1= title
  p Welcome to Salims Page
  button(type="button", class="btn-success", onClick="update()") Press Me
  div(id="target") Display

  script.
    let client_count = 0;
    function update() {
      client_count += 1;
      out = document.getElementById('target');
      out.innerHTML = "Value now " + client_count;
    }